<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="50" *ngIf="plato">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{plato.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{plato.image}} alt={{plato.name}}>
        <mat-card-content>
          <p>{{plato.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"> </span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"> </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex [hidden]="plato">
      <mat-spinner></mat-spinner><h4> Cargando ... Por favor espere</h4>
    </div>
  

    <mat-list fxFlex="50" *ngIf="plato">
      <h3>Coments</h3>
      <mat-list-item *ngFor="let plato of plato.comments">
        <h4 mat-line>{{plato.comment}}</h4>
        <h4 mat-line> {{plato.rating}} stars</h4>
        <h4 mat-line> -- {{plato.author}} {{plato.date | date: 'mediumDate'}} </h4>
      </mat-list-item>

      <div class="full-width">
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="width">
              <input matInput formControlName="nombre" placeholder="Nombre" type="text" required>
              <mat-error *ngIf="formErrors.nombre">
                {{ formErrors.nombre }}
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-slider thumbLabel  [displayWith]="formatLabel" min="1" max="5"  ></mat-slider>
          </p>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comentario" placeholder="Comentario" rows=6></textarea>
              <mat-error *ngIf="formErrors.comentario">
                {{ formErrors.comentario }}
              </mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white"
          [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>

    </mat-list>
   
    <div fxFlex [hidden]="plato">
      <mat-spinner></mat-spinner><h4> Cargando ... Por favor espere</h4>
    </div>

    
    
</div>




