<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <div class="container">
    <h1> {{titulo}} </h1>

    <form action="">
      <div class="form-group">
         <label > Operando A</label> <br>
         <input type="number" class="form-control" 
          placeholder="Escribe operando A " [(ngModel)] = "operandoA" name="operandoA"> <br>

         <label> Operando B </label> <br>
         <input type="number" class="form-control"
          placeholder="Escribe operando A " [(ngModel)] = "operandoB" name="operandoB"> <br>

      </div>

      <button type="submit" class="btn btn-primary" (click)="sumar()"> SUMAR</button> <br>

      <p> Resultado: {{resultado}}</p>
    </form>



  </div>



</body>
</html>