<div class="container " 
    fxLayout="column"
    fxLayoutGap="10px">
    
    <div fxFlex>
      <div>
        <h3>Menu</h3>
        <hr>
      </div>
    </div>

    <div fxFlex *ngIf="platos">
      <mat-grid-list cols="2" rowHeight="200px"> 
        <mat-grid-tile *ngFor="let plato of platos" [routerLink]="['/dishdetail', plato.id]" appHighlight>
           <img height="200px" src="{{plato.image}}" alt="{{plato.name}}">
           <mat-grid-tile-footer>
              <h1 matLine>{{plato.name | uppercase}}</h1>
           </mat-grid-tile-footer>
        </mat-grid-tile> 
      </mat-grid-list>
    </div>
    <div fxFlex [hidden]="platos">
      <mat-spinner></mat-spinner> <h4> Cargando ... Por favor espere</h4>
    </div>

 
  </div>