<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="plato" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{plato.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{plato.image}} alt={{plato.name}}>
  <mat-card-content>
    <p>{{plato.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="plato">
  <mat-spinner></mat-spinner> <h4>Cargando ...... Pofavor espera</h4>
</div>

<mat-card *ngIf="promocion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promocion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{promocion.image}} alt={{promocion.name}}>
  <mat-card-content>
    <p>{{promocion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="promocion">
  <mat-spinner></mat-spinner> <h4>Cargando ...... Pofavor espera</h4>
</div>

<mat-card *ngIf="leader" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leader.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{leader.image}} alt={{promocion.name}}>
  <mat-card-content>
    <p>{{leader.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="leader">
  <mat-spinner></mat-spinner> <h4>Cargando ...... Pofavor espera</h4>
</div>

</div>